@page
@model S00190492_Creche.Pages.Student.CookiePageModel
@{
    ViewData["Student"] = "CookiePage";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CookiePage</title>
</head>
<body>
    <h1>@Model.Message</h1>
</body>
</html>
