@page
@model S00190492_Creche.Pages.Student.Student_Information_FormModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Student"] = "Student_Information_Form";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form style="margin-top:15px" method="post">



        <div class="form-group">
            <label asp-for=Student.ChildFirstName></label>
            <input class="form-control" asp-for=Student.ChildFirstName />
            <span asp-validation-for=Student.ChildFirstName></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.ChildLastName></label>
            <input class="form-control" asp-for=Student.ChildLastName />
            <span asp-validation-for=Student.ChildLastName></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.PPS></label>
            <input class="form-control" asp-for=Student.PPS />
            <span asp-validation-for=Student.PPS></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.DateOfBirth></label>
            <input class="form-control" type="Date" asp-for=Student.DateOfBirth />
            <span asp-validation-for=Student.DateOfBirth></span>
        </div>
        <br />
        <div class="form-check form-check-inline">
            <span style="font-weight:bold">
                Gender
                <br />
                <br />
                <label class="form-check-label" id="m" asp-for=Student.Gender>Male</label>
                <input class="form-check-input" id="m" value="Male" type="radio" asp-for=Student.Gender />
                <label class="form-check-label" id="f" asp-for=Student.Gender>Female</label>
                <input class="form-check-input" id="f" value="Female" type="radio" asp-for=Student.Gender />
            </span>
            <span asp-validation-for=Student.Gender></span>
        </div>
        <br />
        <br />
        <div class="form-group">
            <label asp-for=Student.ParentFirstName></label>
            <input class="form-control" asp-for=Student.ParentFirstName />
            <span asp-validation-for=Student.ParentFirstName></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.ParentLastName></label>
            <input class="form-control" asp-for=Student.ParentLastName />
            <span asp-validation-for=Student.ParentLastName></span>
        </div>
        <br />
        <div class="form-check form-check-inline">
            <span style="font-weight:bold">
                Relationship
                <br />
                <br />
                <label class="form-check-label" id="m" asp-for=Student.RelationshipToChild>Mother</label>
                <input class="form-check-input" id="m" value="Mother" type="radio" asp-for=Student.RelationshipToChild />
                <label class="form-check-label" id="f" asp-for=Student.RelationshipToChild>Father</label>
                <input class="form-check-input" id="f" value="Father" type="radio" asp-for=Student.RelationshipToChild />
                <label class="form-check-label" id="o" asp-for=Student.RelationshipToChild>Other</label>
                <input class="form-check-input" id="o" value="Other" type="radio" asp-for=Student.RelationshipToChild />
            </span>
            <span asp-validation-for=Student.RelationshipToChild></span>
        </div>
        <br />
        <br />
        <div class="form-group">
            <label asp-for=Student.Address></label>
            <input class="form-control" asp-for=Student.Address />
            <span asp-validation-for=Student.Address></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.City></label>
            <input class="form-control" asp-for=Student.City />
            <span asp-validation-for=Student.City></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.ZipCode></label>
            <input class="form-control" asp-for=Student.ZipCode />
            <span asp-validation-for=Student.ZipCode></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.MobileNumber></label>
            <input class="form-control" asp-for=Student.MobileNumber />
            <span asp-validation-for=Student.MobileNumber></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.SecondContactNumber></label>
            <input class="form-control" asp-for=Student.SecondContactNumber />
            <span asp-validation-for=Student.SecondContactNumber></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.Email></label>
            <input class="form-control" asp-for=Student.Email />
            <span asp-validation-for=Student.Email></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for=Student.SecondEmail></label>
            <input class="form-control" asp-for=Student.SecondEmail />
            <span asp-validation-for=Student.SecondEmail></span>
        </div>
        <br />
        <div>
            <label id="f" asp-for=Student.Hours>Full Time</label>
            <input id="f" value="Full Time" type="radio" asp-for=Student.Hours />
            <label id="p" asp-for=Student.Hours>Part Time</label>
            <input id="p" value="Part Time" type="radio" asp-for=Student.Hours />
            <span asp-validation-for=Student.Hours></span>
        </div>
        <br />
        <br />
        <div>
            <span style="font-weight:bold">
                Which days the child will attend.
                <br />
                <br />
                <label id="m" asp-for=Student.Monday>Monday</label>
                <input id="m" type="checkbox" asp-for=Student.Monday />
                &nbsp;
                <label id="t" asp-for=Student.Tuesday>Tuesday</label>
                <input id="t" type="checkbox" asp-for=Student.Tuesday />
                &nbsp;
                <label id="w" asp-for=Student.Wednesday>Tuesday</label>
                <input id="w" type="checkbox" asp-for=Student.Wednesday />
                &nbsp;
                <label id="th" asp-for=Student.Thursday>Tuesday</label>
                <input id="th" type="checkbox" asp-for=Student.Thursday />
                &nbsp;
                <label id="fr" asp-for=Student.Friday>Tuesday</label>
                <input id="fr" type="checkbox" asp-for=Student.Friday />
            </span>
            @if (Model.Student == null)
            {
                <span></span>
            }
            else
            {
                <span class="field-validation-error">@Model.Student.CheckDaysOfWeek </span>
            }
        </div>
        <br />
        <br />
        <div class="form-group">
            <label asp-for=Student.StartingDate></label>
            <input class="form-control" type="Date" asp-for=Student.StartingDate />
            <span asp-validation-for=Student.StartingDate></span>
            @if (Model.Student == null)
            {
                <span></span>
            }
            else
            {
                <span class="field-validation-error">@Model.Student.CheckDateStart </span>
            }
        </div>
        <br />
        <div>
            <button type="submit">Save</button>
        </div>


    </form>

</body>
</html>

